*{
	padding: 0;
	margin: 0;
}
.body{
	
	background-color: #21083E;
}
@font-face{
	font-family: Wslight;
	src: url('../Font/Webly/Fonts/weblysleekuil.ttf');
}
@font-face{
	font-family: WsSbold;
	src: url('../Font/Webly/Fonts/weblysleekuisb.ttf');
}
@font-face{
	font-family: WsSlight;
	src: url('../Font/Webly/Fonts/weblysleekuisl.ttf');
}
@font-face{
	font-family: MonBold;
	src: url('../Font/montserrat/Montserrat-Bold.otf');
}
@font-face{
	font-family: MonReg;
	src: url('../Font/montserrat/MontserratAlternates-Regular.otf');
}
.bodi{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	background-color: #21083E;
}
.sidebar{
	margin: 0;
  	padding: 0;
  	width: 25%;
  	z-index: 1;
  	position: fixed;
  	height: 100%;
  	list-style-type: none;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-content: center;
  	text-align: center;
}
.container{
	width: 100%;
	background-color: #21083E;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.container-kecil{
	width: 100%;
	height: 100%;
	background-color: #21083E;
}
.home1{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.home{
	z-index: 2;
	background-color: #21083E;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.logo{
	height: 10%;
	background-color: #391465;
}
.navbar{
	width: 25%;
	height: auto;
}
.nav{
	height: 60%;
	margin: 0; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: auto;
}
.navnav{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
.nav-choice{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 20% 0;
	padding: 0;
	border-style: none;
	width: 100px;
	height: 120px;
	border-width: 1.75px;
	border-radius: 15px;
}
.nav-active{
	background-color: #54A1AF
}
.nav-choice:hover{
	background-color: #54A1AF;
}
.nav-choice a img{
	width: 80px;
	height: 80px;
}
.ex a img{
	width: 50px;
}
.nav p{
	margin: 0;
	font-family: WsSbold;
	font-size: 15px;
}
.title{
	color: white;
	top: 0;
	margin: 0;
	padding-top: 5px; 
}
.title h1{
	margin: 0;
	padding: 0;
	font-family: MonBold; 
}
.title p{	
	font-family: MonReg;
}
/*bagian content*/
.content{
  width: 75%;
  height: auto;
  background-color: #E1E1E1;
}	
.inside-content{
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.title-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
.title-content h1{
	color: white;
	border-radius: 15px;
	background-color: #21083E;
}