html,body{
	width: 100%;
	min-height: 100%;
	margin: 0;

}
body{
	background: #51218A;
	background-size: cover;
}
.bodi{
	width: 100%;
	min-height: 100vh;
	background: url('../assets/Regis/regisbg.png');
	display: flex;
	justify-content: center;
}
.contentAll{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  
  /*width: 35rem;*/
}.contentForm{
	-webkit-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 15px 1px black;
	background: white;
	color: #8535E5;
	width: 35rem;
	margin: 12px 0;
	display: flex;
	flex-direction: column;
}
.contentAll>img{
	margin: 0 auto;
}
.contentAll>h2,h3{
	margin: 0;
}

.contentForm>h1{
	margin: 0;
	margin-top: 10px;
}
.contentForm>hr{
	width: 75%;
	height: 3px;
	margin: 0 12.5%;
	background: #8535E5;
	border-style: solid;
	border-radius: 10px;
}
.login{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin:  0 20%;
}
.login>a
{
	text-decoration: none;
}
.login-item{
	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	width: 100%;
}
.login-item input:focus{
	border-color: #8535E5;
	outline: none;
	color: #8535E5;
}
/*#img1:hover{
	content: url(assets/Regis/Icon/GroupNameSelected.png);
}*/
.login-item>img{
	width: 15px;
  	height: 15px;

  	padding: 17.5px 5px 3px 7px;
  	position: absolute;
}
.login-item>input{
	margin-top: 10px;
	width: 85%;
	padding-left: 35px;
  	height: 25px;
  	border-style: solid;
  	border-color: gray;
  	border-width: 1.75px;
  	border-radius: 5px; 	
}
.login-item>h3{
	width: 15px;
	position: absolute;
	height: 15px;
	padding: 12px 5px 3px 20px;
	
}

.btLogin{
	
	background-color: #8535E5;
	color: white;
	border-style: solid;
  	
  	border-width: 1.75px;
  	border-radius: 5px;
	text-align: center;
	margin: 10px 230px 8px 230px;
	width: 100px;
	height: 35px;
}
.btLogin>h4{
	margin: 0;
}

.contentForm>h4{
	font-size: 12px;
	margin: 0;
	padding-bottom: 10px;
	font-family: Arial;
}
.bawahLogin{
	margin: 10px 0;
	outline: none;
}
.bawahLogin>h4{
	font-size: 15px;
	font-family: Arial;
	margin: 0;
	
}.Forget{
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 10px;
	font-family: Arial;
	font-weight: 550;
	color:  #8535E5;
}
.Account{
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 10px;
	font-family: Arial;
	font-weight: 550;
	color:  #8535E5;
}
/*.Forget>h4{
	font-size: 15px;
	font-family: Arial;
	margin: 0;
	margin-bottom: 5px;
	font-size: 10px;
	text-decoration: none;
}*/
.logo-sosmed{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 40%;
}
.logo-sosmed>img{
	width: 25px;
	height: 25px;
	margin-top: 10px;
}

@media screen and (max-width: 560px)
{
	.contentForm{
		width: 100%;

	}
	/**{
		font-size: 10p
	}
	*/
}
