<style>
* {
  box-sizing: border-box;
}



/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  right: 0px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2.5px;
  background-color: #54A1AF;
  top: 16px;
  bottom: 0;
  left: 2%;
  /*margin-left: -3px;*/
  height: 84%;
}

/* Container around content */
.container-tm {
  padding: 5px 10px 10px 12px;
  position: relative;
  background-color: inherit;
  width: 85%;
}
.container-tm::before{
  content: '1';
  position: absolute;
  left: -4px;
  z-index: 2;
  top: 14px;
  color: white;
}

/* The circles on the timeline */
.container-tm::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color:#54A1AF;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
/*.left {
  left: 0;
}*/

/* Place the container to the right */
.right {
  left: 2.3%;
}

/* Add arrows to the left container (pointing right) */
/*.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}*/

/* Add arrows to the right container (pointing left) */
/*.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}*/

/* Fix the circle for containers on the right side */
.right::after {
  left: -10px;
}

/* The actual content */
.content-tm {
  padding: 0 15px 10px 0;
  /*background-color: black;
  color: white;*/
  border-bottom: dashed;
  position: relative;
  
  top: 10px;
}
.content-tm p{
  margin: 0;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 0px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container-tm {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container-tm::before {
  left: 27px;
  top: 17px;
  }

  /* Make sure all circles are at the same spot */
  /*.left::after,*/ 
  .right::after {
  left: 22px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

}
</style>