* {
    padding: 0;
    margin: 0
}

::-webkit-scrollbar {
    width: 0;
    opacity: 0
}

.body {
    background-color: #21083e;
}

@font-face {
    font-family: Wslight;
  src: {{url('Font/Webly/Fonts/weblysleekuil.ttf')}};
}

@font-face {
    font-family: WsSbold;
  src: {{url('Font/Webly/Fonts/weblysleekuisb.ttf')}};
}

@font-face {
    font-family: WsSlight;
  src: {{url('Font/Webly/Fonts/weblysleekuisl.ttf')}};
}

@font-face {
    font-family: MonBold;
  src: {{url('Font/montserrat/Montserrat-Bold.otf')}};
}

.bodi {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #21083e
}

.navbar {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    z-index: 1;
    position: fixed;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center
}

.mpctn>p {
    font-family: MonBold;
    color: #54a1af
}

.container {
    margin: 5% 20px;
    width: 100%;
    background-color: #391465;
    border-style: none;
    border-width: 1.75px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center
}

.home1 {
    width: 100%;
    height: 100%
}

.home {
    z-index: 2;
    background-color: #391465;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: center
}

.home p h1 {
    margin: 0
}

.home p {
    font-family: Wslight;
    font-size: 25px;
    color: #fff
}

.home h1 {
    margin: 0;
    font-family: WsSbold;
    color: #fff;
    font-size: 100%;
}

.logo {
    height: auto
}

.logo img {
    width: auto;
    height: 50px
}

.container-kecil {
    width: 70%;
    height: 95%;
    background-color: #391465
}

.content {
    width: 80%;
    height: auto;
    background-color: #21083e
}

.footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end
}

.nav {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.navnav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center
}

.nav-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2% 0;
    padding: 0;
    border-style: none;
    width: 68%;
    height: 25%;
    border-width: 1.75px;
    border-radius: 15px
}

.nav-active {
    background-color: #54a1af
}

.nav-choice:hover {
    background-color: #54a1af
}

.nav-choice img {
    width: 40px;
    height: 40px
}

.nav-choice a img {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}

.nav-choice a {
    text-decoration: none;
    color: #fff
}

.nav p {
    margin: 0;
    font-family: WsSbold;
    font-size: 20px
}

.footer p {
    color: #fff;
    font-family: Wslight;
    font-size: 12px
}

.head-title {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center
}

.title {
    margin: 10% 11% 10% 9%;
    width: 80%;
    height: 100px;
    border-radius: 15px;
    border-style: none;
    background-color: #391465
}

.title h1 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-family: MonBold
}

.middle {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

.middle-content {
    margin: 0 11% 3% 9%;
    width: 80%;
    height: auto;
    border-radius: 15px;
    border-style: none;
    background-color: #391465
}

.middle-bio {
    width: 92%;
    margin: 3% 4%;
    height: auto;
    border-radius: 15px;
    border-style: none;
    background-color: #fff
}

.md-content {
    width: 92%;
    margin: 0 4%;
    height: auto
}

.md-content h1 {
    font-family: MonBold;
    color: #54a1af
}

.middle-data {
    width: 100%;
    margin: .2% 0;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.middle-upload {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 2%
}

.kotak-middledata {
    border-style: solid;
    border-color: #8535e5;
    border-radius: 5px;
    padding: 1% 0;
    padding-left: 2%;
    border-width: 2px
}

.middle-divide {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between
}

.unit-data p {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: MonBold
}

.kotak-middledata p {
    font-size: 15px
}

.garis {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 2%;
    border-color: #8535e5
}

.upload {
    width: 100%
}

.bawah-garis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    padding-right: 10px;
}

.upload>input {
    padding: 1% 0 0 35px;
    height: 25px;
    border-style: solid;
    border-width: 1.75px;
    border-radius: 5px;
    color: #000;
    width: 75%;
    border-color: #8535e5
}

.bawah-garis>img {
    width: 15px;
    height: 15px;
    margin-left: 6px;
    margin-top: 8px;
    position: absolute;
    padding: 0!important
}

.bawah-garis>h3 {
    width: 15px;
    padding: 4px 0 0 25px;
    height: auto;
    position: absolute;
    color: grey
}

.middle-upload>input {
    width: 70px;
    height: 30px;
    background-color: #8535e5;
    color: #fff;
    outline: 0;
    border-style: none;
    border-radius: 5px;
    margin-left: 8%;
    font-family: MonBold;
    cursor: pointer
}

.contact {
    margin: 0 11% 0 9%;
    width: 80%;
    height: auto;
    border-radius: 15px;
    border-style: none;
    background-color: #391465
}

.inside-contact {
    width: 92%;
    margin: 0 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center
}

.C-kiri {
    width: 50%;
    padding: 3.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.C-kiri>p {
    color: #fff;
    font-family: MonBold;
    font-size: 10px;
    text-align: justify;
    padding-right: 8px
}

.C-line {
    display: flex;
    flex-direction: column;
    color: #fff
}

.C-line p {
    font-family: MonBold;
    font-size: 10px
}

.C-line img {
    width: 20px;
    height: 20px
}

.sosmed {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 3px
}

.sosmed p {
    padding-left: 4px;
    font-family: MonBold;
    font-size: 10px
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%
}

.btn {
    border-style: solid;
    border-color: #8535e5;
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    text-align: initial;
    padding-left: 35px
}

.btn p {
    font-family: MonBold
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.f-up-pay p {
    font-family: MonBold
}

.logo-folder {
    position: absolute;
    color: #8535e5;
    margin: 7px 0 0 7px
}

@media screen and (max-width:1200px) {
    .nav-choice {
        width: 100px
    }
}

@media screen and (max-width:900px) {
    .bodi {
        margin: width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }
    .navbar {
        width: 100%;
        background-color: transparent;
        justify-content: flex-start
    }
    .logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #391465
    }
    .logo img {
        width: auto;
        height: 50px;
        padding: 0 10px
    }
    .container {
        margin: 0;
        width: auto;
        height: 100%;
        border-style: none;
        border-radius: 0
    }
    .container-kecil {
        width: 100%
    }
    .sidebar {
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        background-color: transparent
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        z-index: 1;
        cursor: pointer;
        margin: .5% 1.5%
    }
    .line {
        width: 35px;
        height: 4px;
        background-color: #fff;
        margin: 8.5px 5px 0 0;
        border-radius: 5px
    }
    .home1 {
        display: flex;
        flex-direction: row;
        height: 100%
    }
    .height {
        height: 10vh
    }
    .home {
        width: 65%;
        height: 100%
    }
    .blur {
        width: 35%;
        height: 100%;
        background-color: rgba(46, 49, 49, .5)
    }
    .active {
        display: none
    }
    .active1 {
        display: none
    }
    .container {
        background-color: transparent
    }
    .container-kecil {
        background-color: transparent
    }
    .content {
        width: 100%;
        margin-top: 12%
    }
    .middle {
        margin: 0 10%
    }
    .middle-bio {
        margin: 5% 4%
    }
    .middle-data {
        flex-direction: column
    }
    .middle-content {
        margin: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center
    }
    .middle-divide {
        width: 100%
    }
    .middle-upload {
        justify-content: space-between
    }
    .bawah-garis {
        width: 68%
    }
    .contact {
        margin-top: 5%
    }
    .nav {
        margin-top: 0;
        margin-bottom: 0
    }
    .nav-choice {
        margin: 0;
        width: 110px;
        height: 40%
    }
    .navnav {
        align-items: center;
        height: 50%;
        justify-content: space-between
    }
    @media screen and (max-height:500px) {
        .navnav {
            flex-direction: row;
            justify-content: space-around
        }
        .nav-choice {
            height: 110px
        }
        .nav {
            justify-content: space-evenly
        }
    }
}